/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #fdfffb;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-middle-grey: #949292;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-red-wine: #9C344C;
    --color-pink-white: #FADBD8;
    --color-white-red-wine: #F27391;
    --color-purple: #6757A5;
    --color-light-purple: #d8d2f0;
    --color-middle-purple: #4A3E79;
    --color-dark-purple: #4B3A8D;
    --color-navy:#283747;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-bolder-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}

/*box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성입니다.*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;   
}

a {
    text-decoration: none;
}


#global__navbar{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-navy);
    width:100%;
}

#global__navbar div{
    margin:6px;
    padding:8px;
}

#global__navbar a{
    font-size:18px;
    font-weight: var(--weight-bold);
    color:var(--color-light-white);
}

#global__navbar div a{
    font-size:24px;
    line-height: 56px;
}

.navbar__menubar{
    display:flex;
    list-style:none;
    margin:12px;
}

.menubar__item{
    margin:12px;
    font-size:18px;
    color:var(--color-light-white);
    font-weight: var(--weight-bold);
    padding:6px;
}

@media screen and (max-width: 512px) {
    #global__navbar{
        flex-direction: column;
        text-align: center;
        width:100%;
    }

    .navbar__menubar{
        flex-direction: column;
        padding:0px;
    }
    .menubar__item:hover{
        border:1px solid var(--color-light-white);
        border-radius: 4px;
    }
}