html, body{
    display:flex;
    flex-direction: column;
    height: 100%;
}

textarea{
    resize: none;
}

#container{
    display:flex;
    width:100%;
    height: 100%;;
}

.video__container{
    background-color: #15191D;
    width:70%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

/*
.screen__container{
    height: 90%;
    display:flex;
    flex-wrap: wrap;
    overflow-y:scroll;
    align-content: flex-start;
}
*/

.screen__container{
    height: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.screen{
    border-radius: 4px;
    border:1px solid #F7F9F9;
    position: relative;
    margin:2px;   
}
/*
.screen:nth-child(1){
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:5;
}*/

.screen__expand{
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:5; 
}

.video{
    background-color:#1D2022;
    height: 100%;
    width: 100%;
}


.screen i:nth-child(1){
    position: absolute;
    right:0;
    float: right;
    color:#58D68D;
    margin:6px;
}

.screen i:nth-child(2){
    right:0;
    color:#F7F9F9;
    position: absolute;
    bottom:0;
    margin:6px;
}

.screen i:nth-child(2):hover{
    transform:scale(1.2);
    color:salmon;
}

.screen span{
    color:#F7F9F9;
    font-size:24px;
    font-family: 'Jua', sans-serif;
    position: absolute;
    text-align: center;
    margin:auto;
    display:block;
    top:92px;
    left:48px;
    right:48px;
}

.option__container{
    height: 10%;
    background-color: #17202A;
    display:flex;
    justify-content: center;
}

.option__container div{
    margin-left:24px;
    margin-right:24px; 
    margin-top:12px;
    margin-bottom: 12px;
    font-size:36px;
    padding:12px;
    
}

.option__container div i{
    color:var(--color-light-white);
    transition: all 300ms ease;
}

.option__container div i:hover{
    color:salmon;
}

.chat__container{
    background-color: #D6EAF8;
    width:30%;
    height: 100%;
    display:flex;
    flex-direction: column;
}


.show__message{
    height: 85%;
    overflow-y: scroll;
}


.blank__message{
    height: 5%;
}

.blank__message button{
    background: transparent;
    font-family: 'Jua', sans-serif;
    border-radius: 4px;
    background-color: #5DADE2 ;
    color:var(--color-light-white);
    border:1px solid #5DADE2;
    width:100%;
    height: 100%;
    float:right;
    font-size: 24px;
    transition: all 300ms ease;
}

.blank__message button:hover{
    background-color: #2E86C1;
}

.message{
    border:1px solid black;
    padding:12px;
    font-family: 'Jua', sans-serif;
    display:flex;
    flex-direction: column;
    margin:6px;
    border-radius: 4px;
    background-color: var(--color-light-white);    
}


.message span:nth-child(1){
    text-align: left;
    margin-bottom: 6px;
    color:#A9A9A9;
}

.message span:nth-child(2){
    word-break: keep-all;
}

.message span:nth-child(3){
    text-align: right;
    margin-top:8px;
    color:#A9A9A9;
}

.write__message{
    height: 10%;
    margin:1px;
}

.write__message textarea{
    height: 100%;
    width:100%;
    font-family: 'Jua', sans-serif;
    padding:12px;
    font-size:18px;
    border:1px solid black;
    border-radius: 4px;
}
